In [4]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [7]:
html = browser.html
soup = bs(html, "html.parser")

time.sleep(3)

results = soup.body.find_all('div', class_= 'content_title')
news_title_list = []
for result in results:
    title = result.text
    news_title_list.append(title)
    
news_title = news_title_list[1]

In [8]:
news_title

"NASA's Curiosity Keeps Rolling As Team Operates Rover From Home"

In [9]:
results = soup.body.find_all('div', class_= 'article_teaser_body')
news_p_list = []
for result in results:
    p = result.text
    news_p_list.append(p)
time.sleep(2)
news_p = news_p_list[0]

In [10]:
news_p

'The team has learned to meet new challenges as they work remotely on the Mars mission.'

In [9]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [55]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [56]:
time.sleep(3)
results = soup.body.find_all('a', class_='button fancybox')
for result in results:
        image = result.get('data-fancybox-href')   
        featured_image_url = "https://www.jpl.nasa.gov" + image

In [57]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16028_ip.jpg'

In [58]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)
url = 'https://twitter.com/marswxreport?lang=en'

In [59]:
browser.visit(url)
time.sleep(5)

In [60]:
html = browser.html
soup = bs(html, 'html.parser')

In [61]:
tweets = soup.find_all('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")

In [62]:
tweet_list = []

for tweet in tweets:
    weather = tweet.text
    tweet_list.append(weather)
    

mars_weather = tweet_list[0]
mars_weather

'InSight sol 496 (2020-04-18) low -94.6ºC (-138.4ºF) high -6.2ºC (20.9ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.7 m/s (35.2 mph)\npressure at 6.60 hPa'

In [63]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)
url = "https://space-facts.com/mars/"
browser.visit(url)
html = browser.html

In [64]:
table = pd.read_html(url)
mars_facts = table[2]

In [65]:
mars_facts

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [66]:
mars_facts.to_html('mars_facts.html')

In [94]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
html = browser.html
time.sleep(3)

In [95]:
soup = bs(html, 'html.parser')
hemisphere_image_urls = []
root_url = 'https://astrogeology.usgs.gov'
#find links to go to individual hemisphere pages
hemispheres = soup.find_all('div', class_='item')

In [109]:
#loop to reach each individual hemisphere page
for h in hemispheres:
    title = h.find('h3').text
    pre_img_url = h.find('a', class_='itemLink product-item')['href']
    browser.visit(root_url + pre_img_url)
    time.sleep(3)
    pre_img_html = browser.html
    soup = bs(pre_img_html, 'html.parser')
    #create a new result and loop for our newly visited page, pull link and append dictionary into list
    results =soup.find_all('div', class_='wide-image-wrapper')
    for r in results:
        img_url = root_url + r.find('img', class_='wide-image')['src']
        hemisphere_image_urls.append({'title': title, 'image url': img_url})